"*":
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  welcome:
    showOnStartup: false
